<!DOCTYPE html>
<html lang="en">
<head th:insert="components/head"></head>
<body onload='loadData()'>
<div class="window">

  <section class="navbar" th:insert="components/navbar"></section>

  <main class="pagecontent">

    <section class="courseContainer" id="courseDetailsContainer">
      <!--- Loaded by JS --->
      <p>Loading ...</p>
    </section>

    <section class="providersContainer" id="providerDetailsContainer">
      <!--- Loaded by JS --->
    </section>

  </main>

  <footer class="footer" th:insert="components/footer"></footer>
</div>
<script th:src="@{courseDetails.js}" defer></script>
</body>
</html>